<div class="options-header">
    <button mat-button class="option-button" (click)="goToEmployeeAttendance()">
        <mat-icon>person</mat-icon>
        Employee: Fill Attendance
    </button>

    <button mat-button class="option-button" (click)="goToEmployeeAttendanceHistory()">
        <mat-icon>person</mat-icon>
        Employee: Attendance History
    </button>

    <button mat-button class="option-button" (click)="goToManager()">
        <mat-icon>person</mat-icon>
        Manager: View Reports
    </button>
</div>